<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <title>School classes</title>
</head>
<body>
<div class="container block" id="app" style="width: 60%">
    <main-header></main-header>
    <h3 align="center">Classes</h3>

    <table class="table table-striped table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center" v-for="key in columns">
                {{ key }}
            </th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="schoolClass in schoolClasses">
            <td>{{ schoolClass.name }}</td>
            <td>{{ schoolClass.curatorLastName + ' ' + schoolClass.curatorFirstName + ' ' + schoolClass.curatorPatronymic}}</td>
            <td class="text-center">
                <img src="/ui/images/edit.png" v-on:click="editClass(schoolClass)" class="edit-icon" title="Edit class">
                <img src="/ui/images/delete.png" v-on:click="deleteClass(schoolClass)" class="delete-icon" title="Delete class">
            </td>
        </tr>
        </tbody>
    </table>
    <button style="float: right" class="btn btn-success" v-on:click="goToAddClass()">Add class</button>
</div>
</body>

<script src="/ui/lib/vue/vue.js"></script>
<script src="/ui/lib/vue/vue-resource.min.js"></script>
<script src="/ui/js/schoolClasses/school-classes.js"></script>
<script src="/ui/js/components/header.js"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>

</html>