<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>Add child</title>
</head>
<body>
<div id="app">
    <main-header></main-header>
    <div class="container block" style="width: 50%">
        <form id="add-child-form" method="post" class="form-horizontal" action="">

            <div class="child-div">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">{{ header.messages.add_child }}</h2>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.last_name }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childLastName"
                                       v-model="child.lastName" v-bind:placeholder="header.messages.last_name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.first_name }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childFirstName"
                                       v-model="child.firstName" v-bind:placeholder="header.messages.first_name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.patronymic }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childPatronymic"
                                       v-model="child.patronymic" v-bind:placeholder="header.messages.patronymic"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.nickname }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childNickname"
                                       v-model="child.nickname" v-bind:placeholder="header.messages.nickname"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.email }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childEmail"
                                       v-model="child.email" v-bind:placeholder="header.messages.email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ header.messages.phone }}</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childPhone"
                                       v-model="child.phoneNumber" v-bind:placeholder="header.messages.phone"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="school-class">{{ header.messages.school_class }}</label>
                            <div class="col-sm-5">
                                <select id="school-class" v-model="selectedClassId" style="width: 100px"
                                        class="form-control">
                                    <option v-for="schoolClass in schoolClasses" v-bind:value="schoolClass.id">
                                        {{ schoolClass.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="parent-body">
                <div v-for="parent in parents" id="parent-div">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="panel-title">{{ header.messages.parent_info }}</span>
                            <button type="button" v-on:click="removeParent(parent)" class="close"
                                    data-target="#copyright-wrap" data-dismiss="alert">
                                <span aria-hidden="false" style="color:red">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.last_name }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentLastName"
                                           v-model="parent.lastName" v-bind:placeholder="header.messages.last_name"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.first_name }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentFirstName"
                                           v-model="parent.firstName" v-bind:placeholder="header.messages.first_name"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.patronymic }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentPatronymic"
                                           v-model="parent.patronymic" v-bind:placeholder="header.messages.patronymic"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.nickname }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentNickname"
                                           v-model="parent.nickname" v-bind:placeholder="header.messages.nickname"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.email }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentEmail"
                                           v-model="parent.email" v-bind:placeholder="header.messages.email"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.phone }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentPhone"
                                           v-model="parent.phone" v-bind:placeholder="header.messages.phone"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">{{ header.messages.job }}</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="job" v-model="parent.job"
                                           v-bind:placeholder="header.messages.job">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div-add-parent">
                <img id="btn-add-parent" v-on:click="addParent()" src="/ui/images/add-button.png" charset="utf-8">
                <label>{{ header.messages.add_parent }}</label>
                <div style="float: right">
                    <button type="button" class="btn btn-default" v-on:click="cancelSaving()">{{ header.messages.cancel }}</button>
                    <button type="submit" class="btn btn-primary">{{ header.messages.save }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script src="/ui/lib/vue/vue.js" charset="utf-8"></script>
<script src="/ui/lib/vue/vue-resource.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
<script src="/ui/js/components/header.js"></script>
<script src="/ui/lib/jquery-validation/jquery.validate.min.js" charset="utf-8"></script>
<script src="/ui/js/children/add-child.js" charset="utf-8"></script>

</html>