<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <title>Children</title>
</head>
<body>
<div class="container block" id="app" style="width: 60%">
    <main-header></main-header>
    <div id="class-selector">
        <label>{{ header.messages.select_class }} </label>
        <select v-model="selectedClass" class="form-control selector" title="School classes"
                v-on:change="onSelectedClass()">
            <option>All children</option>
            <option v-for="schoolClass in schoolClasses" v-bind:value="schoolClass">
                {{ schoolClass.name }}
            </option>
        </select>
        <button id="add-child" class="btn btn-success" v-on:click="goToAddChild()">{{ header.messages.add_child }}</button>

        </div>

    <h3 align="center">{{ childrenTableTitle }}</h3>

    <table class="table table-striped table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center" v-for="key in columns">
                {{ key }}
            </th>
            <th class="text-center">{{ header.messages.actions }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="child in children">
            <td>{{ child.schoolClass.name }}</td>
            <td>{{ child.lastName }}</td>
            <td>{{ child.firstName }}</td>
            <td>{{ child.patronymic }}</td>
            <td class="text-center">
                <img src="/ui/images/edit.png" v-on:click="editChild(child)" class="edit-icon" title="Edit child">
                <img src="/ui/images/delete.png" v-on:click="deleteChild(child)" class="delete-icon" title="Delete child">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<script src="/ui/lib/vue/vue.js"></script>
<script src="/ui/lib/vue/vue-resource.min.js"></script>
<script src="/ui/js/components/header.js"></script>
<script src="/ui/js/children/children.js"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>

</html>