<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <title>Edit child</title>
</head>
<body>
<div id="app">
    <main-header></main-header>
    <div class="container block" style="width: 50%">

        <form id="edit-child-form" method="post" class="form-horizontal" action="">

            <div class="child-div">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title text-center">Edit child</h2>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last name:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childLastName"
                                       v-model="child.lastName" placeholder="Last name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">First name:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childFirstName"
                                       v-model="child.firstName" placeholder="First name"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Patronymic:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childPatronymic"
                                       v-model="child.patronymic" placeholder="Patronymic"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nickname:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childNickname"
                                       v-model="child.nickname" placeholder="Nickname"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Email:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childEmail"
                                       v-model="child.email" placeholder="Email"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Phone:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="childPhone"
                                       v-model="child.phoneNumber" placeholder="Phone"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="school-class">Class:</label>
                            <div class="col-sm-5">
                                <select id="school-class" ref="selectedSchoolClass" style="width: 100px"
                                        class="form-control">
                                    <option v-for="schoolClass in schoolClasses" v-bind="{ selected: isDefault(schoolClass.name) }" v-bind:value="schoolClass.id">
                                        {{ schoolClass.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="parent-body">
                <div v-for="parent in parents" id="parent-div">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="panel-title">Parent info</span>
                            <button type="button" v-on:click="removeParent(parent)" class="close"
                                    data-target="#copyright-wrap" data-dismiss="alert">
                                <span aria-hidden="false" style="color:red">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Last name:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentLastName"
                                           v-model="parent.lastName" placeholder="Last name"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">First name:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentFirstName"
                                           v-model="parent.firstName" placeholder="First name"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Patronymic:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentPatronymic"
                                           v-model="parent.patronymic" placeholder="Patronymic"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nickname:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentNickname"
                                           v-model="parent.nickname" placeholder="Nickname"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentEmail"
                                           v-model="parent.email" placeholder="Email"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Phone:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="parentPhone"
                                           v-model="parent.phone" placeholder="Phone"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">Job:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="job" v-model="parent.job"
                                           placeholder="Job">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div-add-parent">
                <img id="btn-add-parent" v-on:click="addParent()" src="/ui/images/add-button.png" charset="utf-8">
                <label>Add parent</label>
                <div style="float: right">
                    <button type="button" class="btn btn-default" v-on:click="cancelSaving()">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

<script src="/ui/lib/vue/vue.js" charset="utf-8"></script>
<script src="/ui/lib/vue/vue-resource.min.js" charset="utf-8"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
<script src="/ui/js/components/header.js"></script>
<script src="/ui/lib/jquery-validation/jquery.validate.min.js" charset="utf-8"></script>
<script src="/ui/js/children/edit-child.js" charset="utf-8"></script>

</html>