<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="language-test-app" >
    name1: {{ messages.name1 }}
    name2: {{ messages.name2 }}
    <button v-on:click="loadLanguage('/languages/load/en')">{{ messages.en }}</button>
    <button v-on:click="loadLanguage('/languages/load/ua')">{{ messages.ua }}</button>
</div>

<script src="/ui/lib/vue/vue.js" charset="utf-8"></script>
<script src="/ui/lib/vue/vue-resource.min.js" charset="utf-8"></script>
<script src="/ui/html/languageTest/test-vue.js" charset="utf-8"></script>

</body>
</html>