<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <head>
    <title>Teacher Journal</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css"  charset="utf-8">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/ui/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" charset="utf-8"/>
    <link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css">
    <link rel="stylesheet" href="/ui/html/teacherJournal/navbar.css">
    <link rel="stylesheet" href="/ui/html/teacherJournal/datatable.css">
    <link rel="stylesheet" href="/ui/html/teacherJournal/tabs.css">
  </head>
  <body>

    <div class="container ">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-md-4" id="title">
              <h2>{{header.messages.myJournal}}:</h2>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="panel panel-primary">
            <div class="panel-body">
              <div id="select">
                <main-header></main-header>
                <div class="row">
                  <div class="col-md-3">
                    <div v-if="lessonResource.length>1">
                      <label for="subj">{{header.messages.chooseSubj}}:</label>
                      <select v-model="subjectId" class="form-control" id="subj">
                        <option v-for="subject in lessonResource" v-bind:value="subject.subject.id">
                          {{ subject.subject.name }}
                        </option>
                      </select>
                    </div>
                    <div v-if="lessonResource.length==1">
                      <label>{{header.messages.yourSubject}}:</label>
                      <h4>
                        <strong>{{lessonResource[0].subject.name}}</strong>
                      </h4>
                    </div>
                  </div>
                  <!-- End of Select subject -->
                  <!-- select Class -->
                  <div v-if="classes.length>=1" class="col-md-3">
                    <div v-if="classes.length>1">
                      <label for="form">{{header.messages.class}}:</label>
                      <select v-model="classId" name="form" id="form" class="form-control">
                        <option v-for="clas in classes" v-bind:value="clas.id">
                          {{ clas.name }}
                        </option>
                      </select>
                    </div>
                    <div v-if="classes.length==1">
                      <label>{{header.messages.class}}:</label>
                      <h4>
                        <strong>{{classes[0].name}}</strong>
                      </h4>
                    </div>
                  </div>
                  <div v-show="classId" class="col-md-3">
                    <label for="dateRange">{{header.messages.dateRange}}</label>
                    <div class="input-group input-daterange" id="dateRange">
                      <input v-model="startDate" id="startDate" type="text" class="form-control" value="2012-04-05">
                      <div class="input-group-addon">to</div>
                      <input v-model="endDate" id="endDate" type="text" class="form-control" value="2012-04-19">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div v-show="classId">
                      <button type="button" name="button" class="btn btn-default mybut col-md-12" @click="showStuds">
                        {{header.messages.openJournal}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div v-if="myshow" class="row" id="tableJournal">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h2>{{header.messages.journalOf}}
                        {{selectedClass}}
                        <br>
                        <strong>{{SubjectName}}</strong>
                      </h2>
                    </div>
                    <div class="panel-body">
                      <div class="col-md-12 col-lg-12">
                        <div class="row">

                            <div  class="col-md-3">
                            <button v-show="currentElements>0" type="button" class="btn-lg btn-primary " v-on:click="currDec" id="prev">
                              {{header.messages.prev}}
                            </button>
                            </div>
                            <div  class="col-md-3">
                            <button  v-show="currentElements<arrayOfJournalData.length-1" type="button" class="btn-lg btn-primary" v-on:click="currInc" id="next">
                              {{header.messages.next}}
                            </button>
                            </div>
                        </div>
                        <div class="row">
                          <table class="table table-responsive table-bordered table-hover">
                            <tbody>
                              <tr>
                                <th></th>
                                <th v-for="elem in arrayOfJournalData[currentElements].dates" class="rotate">
                                  <div>
                                    <span>{{elem}}</span>
                                  </div>
                                </th>
                              </tr>
                              <tr v-for="elem in arrayOfJournalData[currentElements].children">
                                <th>{{elem.childName}}</th>
                                <td v-for="mark in elem.marks">{{mark}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/ui/lib/jquery/jquery-3.1.1.js" charset="utf-8"></script>
  <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js" ></script>
  <script src="/ui/lib/jquery-confirm/js/jquery-confirm.js"></script>
  <script type="text/javascript" src="/ui/lib/bootstrap-datepicker/js/bootstrap-datepicker.js" charset="utf-8"></script>
  <script src="/ui/lib/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js"></script>
  <script src="/ui/lib/vue/vue.js"></script>
  <script src="/ui/lib/vue/vue-resource.min.js"></script>
  <script src="/ui/js/components/header.js"></script>
  <script src="/ui/html/teacherJournal/datepicker.js" charset="utf-8"></script>
  <script src="/ui/html/teacherJournal/tableVue.js" charset="utf-8"></script>
  <script src="/ui/html/teacherJournal/selectJournal.js" charset="utf-8"></script>
</html>
