<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson Event List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css">
    <link rel="stylesheet" href="/ui/html/lessonEventList/navbar.css">
    <link rel="stylesheet" href="/ui/html/lessonEventList/datatable.css">
    <link rel="stylesheet" href="/ui/html/lessonEventList/tabs.css">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">School journal</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/journal">Create lesson</a>
                </li>
                <li>
                    <a href="/teacherJournal">Journal</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>{{nickname}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left">
                                            <strong>{{nickname}}</strong>
                                        </p>
                                        <p class="text-left small">{{mail}}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Переглянути профіль</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="#" class="btn btn-danger btn-block">Вийти</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Not Finished Lessons:</h2>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="row" id="table">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive col-md-offset-1 col-md-10">
                            <table class="table table-hover ">
                                <thead>
                                <tr class="active text-center">

                                    <th>
                                        <h4>
                                            <strong>Name of lesson</strong>
                                        </h4>
                                    </th>
                                    <th>
                                        <h4>
                                            <strong>Class</strong>
                                        </h4>
                                    </th>
                                    <th>
                                        <h4>
                                            <strong>Event Date</strong>
                                        </h4>
                                    </th>
                                    <th>
                                        <h4>
                                            <strong>Event Type</strong>
                                        </h4>
                                    </th>
                                    <th>
                                        <h4>
                                            <strong>Finish</strong>
                                        </h4>
                                    </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="row in tableData ">
                                        <td>{{row.subject.name}}</td>
                                        <td>{{row.class.name}}</td>
                                        <td>{{row.eventDate}}</td>
                                        <td>{{row.eventType}}</td>
                                        <td>
                                            <button class="btn btn-link" :value="row.id">Finish</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/ui/lib/jquery/jquery-3.1.1.js" charset="utf-8"></script>
<script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js"></script>
<script src="/ui/lib/vue/vue.js"></script>
<script src="/ui/lib/vue/vue-resource.min.js"></script>
<script src="/ui/html/lessonEventList/lessonEventTable.js" charset="utf-8"></script>
</html>
