<!DOCTYPE html>
<div lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml"></div>
<head>
    <meta charset="utf-8">
    <title>Lessons</title>
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
<!-- BODY -->
<!-- template for the modal component -->
<div id="app" class = "block">
    <main-header></main-header>
    <div class="container" block>

        <div v-if="isAdd == true" class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="lesson-info">
                <form id="lessonInfoForm">
                    <input type="hidden" v-model="id">
                    <div class="form-group">
                        <label for="subjectSelect">{{header.messages.subject}}</label>
                        <select v-model="subjectId" class="form-control"  id="subjectSelect">
                            <option v-for="subject in subjects" v-bind:value="subject.id">
                                {{subject.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="schoolClassSelect">{{header.messages.class}}</label>
                        <select v-model="schoolClassId" class="form-control" id="schoolClassSelect">
                            <option v-for="schoolClass in schoolClasses" v-bind:value="schoolClass.id">
                                {{schoolClass.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="teacherSelect">{{header.messages.teacher}}</label>
                        <select v-model="teacherId" class="form-control" id="teacherSelect">
                            <option v-for="teacher in teachers" v-bind:value="teacher.id">
                                {{teacher.lastName}} {{teacher.firstName}} {{teacher.patronymic}}
                            </option>
                        </select>
                    </div>


                    <button id="saveButton" type="button" class="btn btn-primary" v-on:click="saveLesson">
                        {{header.messages.save}}
            </button>

                </form>
        </div>
        </div>
        <div class="row block">
            <div class="col-md-8">
                <h2>{{header.messages.lessons}}:</h2>
            </div>
            <div class="col-md-5">
                <button id="addButton" type="button" class="btn btn-primary" v-on:click="addLesson">
                    {{header.messages.addLesson}}
                </button>
            </div>
        </div>
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">{{header.messages.name}}</th>
                        <th class="text-center">{{header.messages.teacher}}</th>
                        <th class="text-center">{{header.messages.class}}</th>
                        <th class="text-center">{{header.messages.actions}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="lesson in lessons">
                        <td class="text-center">{{ lesson.subject.name }}</td>
                        <td class="text-center">{{ lesson.teacher.firstName }} {{lesson.teacher.patronymic}} {{ lesson.teacher.lastName
                            }}
                        </td>
                        <td class="text-center">{{ lesson.schoolClass.name }}</td>
                        <td class="text-center"><button class="btn-link" v-on:click="editLesson(lesson)">{{header.messages.edit}}</button>
                            <button class="btn-link" v-on:click="deleteLesson(lesson)">{{header.messages.delete}}</button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/ui/lib/vue/vue.js"></script>
<script src="/ui/lib/vue/vue-resource.min.js"></script>
<script src="/ui/js/components/header.js"></script>
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-validation/jquery.validate.min.js" charset="utf-8"></script>
<script src="/ui/js/lesson/lesson.js"></script>
</html>
