<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <title>Subjects</title>
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js"></script>

    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>

<div id="app">
    <main-header></main-header>

    <div class="container block" style="width: 50%">
        <form id="subjectInfoForm" class="form-horizontal" method="post">
            <div v-if="isAdd == true" class="panel panel-primary">
                <div class="panel-body">
                    <input type="hidden" v-model="id">
                    <div class="form-group">
                        <label for="subjectSelect" class="col-sm-5 control-label">{{header.messages.subject}}:</label>
                        <div class="col-sm-5">
                            <input v-model="nameSubject" class="form-control" id="subjectSelect" name="subjectName">
                      </div>
                    </div>
                <button id="saveButton" type="button" class="btn btn-primary" v-on:click="saveSubject()">
                   {{header.messages.save}}
                </button>
                </div>
            </div>
            </form>


        <div class="row block">
            <div class="col-md-8">
                <h2>{{header.messages.subjects}}:</h2>
            </div>
            <div class="col-md-5">
                <button id="addButton" type="button" class="btn btn-primary" v-on:click="addSubject">
                    {{ header.messages.addSubject }}
                </button>
            </div>
        </div>
        <div class="panel with-nav-tabs panel-primary">
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">{{ header.messages.name }}</th>
                        <th class="text-center">{{ header.messages.actions }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="subject in subjects">
                        <td class="text-center">{{ subject.name }}</td>
                        <td class = "text-center"><button class="btn-link" v-on:click="editSubject(subject)">{{ header.messages.edit }}</button>
                            <button class="btn-link" v-on:click="deleteSubject(subject)">{{ header.messages.delete }}</button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/ui/lib/vue/vue.js"></script>
<script src="/ui/lib/vue/vue-resource.min.js"></script>
<script src="/ui/js/components/header.js"></script>
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
<link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
<script src="/ui/lib/jquery-validation/jquery.validate.min.js" charset="utf-8"></script>

<script src="/ui/js/subject/subject.js"></script>
</html>
