<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>Teachers</title>
    <script src="/ui/lib/jquery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/css/style.css">
    <link rel="stylesheet" href="/ui/css/navbar.css">
    <link rel="stylesheet" href="/ui/css/datatable.css">
    <link rel="stylesheet" href="/ui/css/tabs.css">
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </head>

    <div id="app" class="block">
        <main-header></main-header>
       <!-- <div class="container">-->
        <div class="container" style="width: 50%">
            <form id="teacherInfoForm" class="form-horizontal" method="post">
               <div v-if="isAdd == true" class="panel panel-primary">
                 <div class="panel-body">
                        <input type="hidden" v-model="id">
                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{header.messages.lastName}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="lastName"
                                   v-model="lastName" v-bind:placeholder="header.messages.lastName"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{header.messages.firstName}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="firstName"
                                   v-model="firstName" v-bind:placeholder="header.messages.firstName"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{header.messages.patronymic}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="patronymic"
                                   v-model="patronymic" v-bind:placeholder="header.messages.patronymic"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{header.messages.nickname}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="nickname"
                                   v-model="nickname" v-bind:placeholder="header.messages.nickname"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-5 control-label">{{header.messages.email}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="email"
                                   v-model="email" v-bind:placeholder="header.messages.email"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for = "phoneNumber" class="col-sm-5 control-label">{{header.messages.phone}}:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"
                                   v-model="phoneNumber" v-bind:placeholder="header.messages.phone"/>
                        </div>
                    </div>


                <div class="col-md-5">
                <button id="saveButton" type="button" class="btn btn-primary" v-on:click="saveTeacher">
                   {{ header.messages.save}}
                </button>
                </div>

                </div>
            </div>

         </form>
</div>
        </br>
        </br>
<div class="container">
            <div class="row block">
                <div class="col-md-8">
                    <h2>{{header.messages.teachers}}:</h2>
            </div>
                <div class="col-md-5">
                    <button id="addButton" type="button" class="btn btn-primary" v-on:click="addTeacher">
                        {{header.messages.addTeacher}}
                    </button>
                </div>
            </div>
            <div class="panel with-nav-tabs panel-primary">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr >
                            <th class="text-center">{{header.messages.name}}</th>
                            <th class="text-center">{{header.messages.email}}</th>
                            <th class="text-center">{{header.messages.phone}}</th>
                            <th class="text-center">{{header.messages.nickname}}</th>
                            <th class="text-center">{{header.messages.actions}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="teacher in teachers">
                            <td class="text-center">{{ teacher.firstName }} {{teacher.patronymic}} {{ teacher.lastName }}</td>
                            <td class="text-center">{{ teacher.email }}</td>
                            <td class="text-center">{{ teacher.phoneNumber }}</td>
                            <td class="text-center">{{ teacher.nickname }}</td>
                            <td class="text-center"><button class="btn-link" v-on:click="editTeacher(teacher)">{{header.messages.edit}}</button>
                                <button class="btn-link" v-on:click="deleteTeacher(teacher)">{{header.messages.delete}}</button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    </body>


    <script src="/ui/lib/vue/vue.js"></script>
    <script src="/ui/lib/vue/vue-resource.min.js"></script>
    <script src="/ui/js/components/header.js"></script>
    <script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
    <script src="/ui/lib/jquery-validation/jquery.validate.min.js" charset="utf-8"></script>
    <script src="/ui/js/teacherPage/teacher.js"></script>
    </html>
