<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/ui/lib/jquery/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.js" charset="utf-8"></script>
    <link href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
    <link href="/ui/css/child-event.css" rel="stylesheet" charset="utf-8">

    <link rel="stylesheet" href="/ui/lib/jquery-confirm/css/jquery-confirm.css" charset="utf-8">
    <script src="/ui/lib/jquery-confirm/js/jquery-confirm.js" charset="utf-8"></script>
    <script src="/ui/lib/vue/vue.js" charset="utf-8"></script>
    <script src="/ui/lib/vue/vue-resource.min.js" charset="utf-8"></script>

</head>
<body>
<div id="modal">
    <div class="container">
        <button type="button" class="btn btn-primary" v-on:click="init" data-toggle="modal" data-target="#upload-modal">
            Open
        </button>
        <div class="modal" id="upload-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="close-modal-btn" type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered text-center">
                            <tr>
                                <th class="text-center" v-for="column in columns" >
                                    {{ column }}
                                </th>
                            </tr>
                            <tr class="row-height-30" v-for="row in rows">
                                <td class="col-md-1 vertical-middle" >{{ row.subject }}</td>
                                <td class="col-md-1 vertical-middle" >{{ row.point }}</td>
                                <td class="col-md-6 vertical-middle" >{{ row.comment }}</td>
                                <td class="col-md-1">
                                    <div v-for="file in row.files" >
                                        <a v-bind:href="downloadLink(file.id)">{{ file.name }}</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/ui/js/parentView/child-event-vue.js" charset="utf-8"></script>

</body>
</html>