<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parent page</title>
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/ui/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/ui/css/pv_navbar.css">
    <link rel="stylesheet" href="/ui/css/pv_datatable.css">
    <link rel="stylesheet" href="/ui/css/pv_tabs.css">
  </head>

  <body>

  <div id="parent-script">
      <main-header></main-header>

      <div class="container block">
            <div class="row">
              <div class="col-md-12">
                  <div class="panel with-nav-tabs panel-primary">
                      <div class="panel-body">
                          <div class='col-sm-3'>
                              <div class='input-group date' id="startDate">
                                  <input type="text" class="form-control" placeholder="YYYY-MM-DD" v-model="startDate"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                          <div class='col-sm-3'>
                              <div class='input-group date' id="finishDate">
                                  <input type="text" class="form-control" placeholder="YYYY-MM-DD" v-model="finishDate"/>
                                  <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-calendar"></span>
                                  </span>
                              </div>
                          </div>
                          <div class='col-sm-1'>
                              <button type="submit" id="clear" class="btn btn-danger form-control" v-on:click="clear">X</button>
                          </div>
                          <div class='col-sm-2'>
                              <button type="submit" id="current" class="btn btn-primary form-control" v-on:click="currentWeek">{{header.messages.current}}</button>
                          </div>
                          <div class='col-sm-2 col-sm-offset-1'>
                              <button type="submit" id="search" class="btn btn-primary form-control" v-on:click="loadData">{{header.messages.search}}</button>
                          </div>
                      </div>
                      <div class="panel-heading">
                          <ul class="nav nav-tabs">
                              <li v-for="child in childInfo"><a v-bind:href="child.tabId" data-toggle="tab" v-on:click="setChild(child); clickCallback(1);">{{child.name}}</a></li>
                          </ul>
                      </div>
                      <div class="panel-body">
                          <div class="tab-content">
                              <div v-for="child in childInfo" v-bind:class="child.activeTab" v-bind:id="child.tabId">
                                  <div class="col-md-12">
                                      <div class="panel panel-primary">
                                          <div class="panel-body">
                                              <div class="col-md-1">
                                                <h2>{{header.messages.marks}}</h2>
                                              </div>
                                              <div class="col-md-8">
                                                  <h2>
                                                      <div class="col-md-2">
                                                          <div class="col-md-1">
                                                              <h4><ul><li class="low-mark"></li></ul></h4>
                                                          </div>
                                                          <div class="col-md-1">
                                                              <h4>{{header.messages.low}}</h4>
                                                          </div>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <div class="col-md-1">
                                                              <h4><ul><li class="medium-mark"></li></ul></h4>
                                                          </div>
                                                          <div class="col-md-1">
                                                              <h4>{{header.messages.medium}}</h4>
                                                          </div>
                                                      </div>
                                                      <div class="col-md-2">
                                                          <div class="col-md-1">
                                                              <h4><ul><li class="high-mark"></li></ul></h4>
                                                          </div>
                                                          <div class="col-md-1">
                                                              <h4>{{header.messages.high}}</h4>
                                                          </div>
                                                      </div>
                                                  </h2>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-md-12 col-sm-12">
                                              <div class="panel panel-primary">
                                                  <table class="table table-hover table-striped" id="dev-table">
                                                      <thead>
                                                      <tr class="bg-primary">
                                                          <th class="text-center">Date</th>
                                                          <th v-for="subject in currentChild.subjects" class="text-center">{{subject}}</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr v-for='dataRow in block'>
                                                          <td class="text-center" >
                                                              <child-events-modal :date="dataRow.date" :child-id="child.id" ></child-events-modal>
                                                          </td>
                                                          <td class="text-center" v-for="element in dataRow.marks" v-bind:class="paintMark(element)">{{element}}</td>
                                                      </tr>
                                                      </tbody>
                                                  </table>
                                                  <div class=" text-center">
                                                      <paginate
                                                              :page-count="totalPages"
                                                              :prev-text="header.messages.prev"
                                                              :next-text="header.messages.next"
                                                              :container-class="'pagination'"
                                                              :click-handler="clickCallback">
                                                      </paginate>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- END TABS -->
      </div>
  </div>
  </body>
    <!--SCRIPTS-->
    <script src="/ui/lib/jquery/jquery-3.1.1.js"></script>
    <script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="/ui/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/ui/lib/vue/vue.js"></script>
    <script src="/ui/lib/vue/vue-resource.min.js"></script>
    <script src="/ui/lib/moment/moment.js"></script>
    <script src="/ui/lib/vuejs-paginate/vuejs-paginate.js"></script>
    <script src="/ui/js/components/header.js"></script>
    <script src="/ui/js/parentView/child-event-component.js" ></script>
    <script src="/ui/js/parentView/parent_vue.js"></script>
    <!--END SCRIPTS-->
</html>
