﻿﻿<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create lesson-event</title>

    <!-- Latest compiled and minified CSS -->
    <link href="/ui/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8">
    <link rel="stylesheet"
          href="/ui/lib/bootstrap-datepicker/css/bootstrap-datepicker.css"
          charset="utf-8"/>
    <link rel="stylesheet" href="/ui/html/teacher/styles.css" charset="utf-8">
    <link rel="stylesheet" href="/ui/html/teacher/navbar.css">
    <link rel="stylesheet" href="/ui/html/teacher/datatable.css">
    <link rel="stylesheet" href="/ui/html/teacher/tabs.css">
    <link rel="stylesheet" href="/ui/html/upload/style.css">
    <link rel="stylesheet" href="/ui/lib/jquery-confirm/dist/jquery-confirm.min.css">
</head>
<body style="overflow-x: hidden">

<!-- END NAVBAR -->
<div class="container">
    <div class="row">
        <div class="container">
            <div class="row" id="lessonStatus">
                <div class="col-md-4">
                    <h2>{{lessonStatus}} {{header.messages.lesson}}:</h2>

                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div id="app">
                <main-header></main-header>
                <div class="row">
                    <div name="subjectSelect" class="col-md-3">

                        <div v-if="subjects.length>1">
                            <label for="subj">{{header.messages.chooseSubj}}:</label>
                            <select v-model="subjectId" class="form-control" id="subj">
                                <option v-for="subject in subjects" v-bind:value="subject.subject.id">
                                    {{ subject.subject.name }}
                                </option>
                            </select>
                        </div>
                        <div v-if="subjects.length==1">
                            <label>{{header.messages.yourSubject}}:</label>
                            <h4>
                                <strong>{{subjects[0].subject.name}}</strong>
                            </h4>
                        </div>
                    </div>
                    <!-- End of Select subject -->
                    <!-- select Class -->
                    <div name="classSelect" class="col-md-3">
                        <div v-if="classes.length>1">
                            <label for="form">{{header.messages.chooseClass}}:</label>
                            <select v-model="classId" name="form" id="form" class="form-control">
                                <option v-for="clas in classes" v-bind:value="clas.id">
                                    {{ clas.name }}
                                </option>
                            </select>
                        </div>
                        <div v-if="classes.length==1">
                            <label>{{header.messages.class}}:</label>
                            <h4>
                                <strong>{{classes[0].name}}</strong>
                            </h4>
                        </div>
                    </div>

                    <!-- Additional fields (Comment and Date) -->
                    <div v-show="classId" id="additional" class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label" for="date">{{header.messages.lessonDate}}:</label>
                            <input type="text" class="form-control" name="date" id="date" placeholder="YYYY-MM-DD"
                                   v-model="currentDate">
                        </div>
                    </div>
                    <div v-show="classId" id="typeOfLesson" class="col-md-3">
                        <div v-if="lessonTypes.length>1">
                            <label for="type">{{header.messages.typeOfLesson}}:</label>
                            <select v-model="lessonType" name="type" id="type" class="form-control">
                                <option v-for="type in lessonTypes" v-bind:value="type.id">{{type.name}}</option>
                            </select>

                        </div>
                        <div v-if="lessonTypes.length==1">
                            <label>{{header.messages.typeOfLesson}}:</label>
                            <h4>
                                <strong>{{lessonTypes[0].name}}</strong>
                            </h4>
                        </div>

                    </div>
                    <div v-show="classId">
                        <div class="form-group col-md-12">
                            <label for="comment">{{header.messages.comment}}:</label>
                            <textarea v-model="comment" name="comment" id="comment" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div id="app1">
                <div class="row" v-show="isDisStart">

                    <div class="col-md-4 text-center">
                        <button @click=beginEvent class="btn-lg btn-primary " id="start"  >
                            {{header.messages.start}}
                        </button>
                    </div>

                </div>
                <!-- End of Button part -->
                <!-- Tables -->
                <div v-show="lessonStart" class="row">
                    <!-- Table of present -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>  {{header.messages.present}}</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>
                                            <strong>{{header.messages.name}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{header.messages.presents}}</strong>
                                        </td>
                                        <td>
                                            <strong>{{header.messages.mark}}</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="row in orderedRows ">
                                        <td>{{row.name}}</td>
                                        <td>
                                            <button type="button" class="btn btn-link" @click="removeRow(row)">
                                                {{header.messages.absent}}
                                            </button>
                                        </td>
                                        <td>
                                            <select v-model="row.mark" v-on:change="set_data()" class="form-control"
                                                    v-bind:id="row.id">
                                                <option v-for="subject in mark" v-bind:value="subject">
                                                    {{ subject}}
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End of Table of present  -->
                    <!-- Table of absent  -->
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>{{header.messages.absents}}</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>
                                            <strong>{{header.messages.name}}</strong>
                                        </td>
                                        <td class="text-center">
                                            <strong>{{header.messages.actions}}</strong>
                                        </td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="row in orderedRowsAbs">
                                        <td>{{row.name}}</td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-link" @click="removeRowAbs(row)">
                                                {{header.messages.isPresent}}
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!--end of Table of absent  -->
                    <div class="col-md-12 text-right">
                        <button @click=saveComplited class="btn btn-primary" id="finish" v-show="isDisEnd">
                            {{header.messages.finish}}
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <div id="upload-modal-app">
                <div class="container">
                    <div v-show="app1.lessonEventId">
                        <button type="button" class="btn btn-primary" v-on:click="init" data-toggle="modal"
                                data-target="#upload-modal">{{header.messages.atachFile}}
                        </button>
                    </div>
                    <div class="modal" id="upload-modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="close-modal-btn" type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <span style="display: block; width: 100%" class="text-center"
                                          v-if="existingFiles.length == 0 && addedFiles.length == 0">{{header.messages.noFiles}}</span>
                                    <table v-if="existingFiles.length > 0 || addedFiles.length > 0"
                                           class="table table-bordered text-center">
                                        <tr>
                                            <th class="text-center" v-for="key in gridColumns">
                                                {{ key }}
                                            </th>
                                        </tr>
                                        <tr v-for="file in existingFiles">
                                            <td>
                                                <a :href="downloadLink(file.id)">{{ applyTextFilter(file.name) }}
                                                </a>
                                            </td>
                                            <td>
                                                <!--<img src="/ui/images/edit.png" class="edit-icon" title="Edit">-->
                                                <img v-on:click="deleteExistingFile(file)" src="/ui/images/delete.png"
                                                     class="delete-icon" title="Delete">
                                            </td>
                                        </tr>
                                        <tr v-for="file in addedFiles">
                                            <td class="added-file">
                                                {{ applyTextFilter(file.name) }}
                                            </td>
                                            <td>
                                                <!--<img src="/ui/images/edit.png" class="edit-icon" title="Edit">-->
                                                <img v-on:click="deleteAddedFile(file)" src="/ui/images/delete.png"
                                                     class="delete-icon" title="Delete">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <input id="files" style="display: none;" type="file" v-on:change="onFileChange"
                                           multiple="multiple" v-bind:accept="fileAccept">
                                    <button class="btn btn-primary" onclick="document.getElementById('files').click();">
                                        {{header.messages.addFile}}
                                    </button>
                                    <button class="btn btn-primary" v-on:click="saveChanges">{{header.messages.save}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of Tables -->
        </div>
    </div>

</div>
<script src="/ui/lib/jquery/jquery-3.1.1.js" charset="utf-8"></script>
<script src="/ui/lib/bootstrap-3.3.7-dist/js/bootstrap.js" charset="utf-8"></script>
<script type="text/javascript" src="/ui/lib/underscore/underscore.js"
        charset="utf-8"></script>
<script type="text/javascript"
        src="/ui/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"
        charset="utf-8"></script>
<script src="/ui/lib/vue/vue.js" charset="utf-8"></script>
<script src="/ui/lib/vue/vue-resource.min.js" charset="utf-8"></script>
<script src="/ui/js/components/header.js"></script>
<script type="text/javascript" src="/ui/html/teacher/select.js" charset="utf-8"></script>
<script type="text/javascript" src="/ui/html/teacher/datepicker.js" charset="utf-8"></script>
<script type="text/javascript" src="/ui/html/teacher/journal.js" charset="utf-8"></script>
<script src="/ui/lib/jquery-confirm/js/jquery-confirm.js"></script>
<script src="/ui/html/upload/upload-vue.js" charset="utf-8"></script>
</body>
</html>
