.row{
  margin-top:40px;
  padding: 0 10px;
}
.clickable{
  cursor: pointer;
}

.panel-heading div {
margin-top: -18px;
font-size: 15px;
}
.panel-heading div span{
margin-left:5px;
}

.low-mark{
  color: red;
}
.medium-mark{
  color: #ffc01f;
}
.high-mark{
  color: green;
}