label {
    margin: 0;
    padding: 0;
}

table, th, td {
    padding: 5px;
}

.parent-th {
    padding: 0;
}

.parent-title {
    margin-left: 10px;
    display: block;
}

#div-add-parent {
    margin: 30px 0;
}

#btn-add-parent {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.error-message {
    margin-top: 20px;
    color: red;
}

.error-area {
    text-align: center;
}

#children {
    margin-top: 10px;
}

#class-selector {
    margin-top: 20px;
}

.more-info-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 5px;
}

.edit-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.delete-parent {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0 5px 3px 0;
}

#add-child {
    float: right;
}

.selector {
    width: 150px;
    display: inline-block;
}

.confirm-default-text {
    font-weight: bold;
}

.confirm-name-text {
    font-weight: bold;
    color: #c33c31;
}

body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

table {
    border: 2px solid #2e6da4;
    border-radius: 3px;
    background-color: #fff;
}

th {
    background-color: rgba(51, 109, 170, 0.8);
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

th, td {
    min-width: 120px;
    padding: 10px 20px;
}
